body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: sans-serif;
	flex-wrap: wrap;
}

/* first section */

.first {
	background-color: #1f2937;
	padding: 20px 200px 150px 200px;
}

.header {
	margin-right: auto;
	font-size: 24px;
	color: #f9faf8;
	font-weight: bold;
}

ul {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	gap: 16px;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #e5e7eb;
}

.nav {
	display: flex;
	gap: 20px;
}

.website {
	color: #f9faf8;
	font-size: 48px;
	font-weight: bolder;
	max-width: 633px;
	min-height: 115px;
}

.main {
	display: flex;
	margin-top: 100px;
	align-items: flex-start;
	flex-direction: row;
}

.text {
	font-size: 18px;
	color: #e5e7eb;
	margin-top: 0;
	margin-right: 10%;
	padding-top: 0;
	max-width: 500px;
	min-height: 50px;
}

.image {
	width: 65%;
	min-height: 237px;
	background: rgb(153, 153, 155);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.first-button {
	background-color: #3882f6;
	color: white;
	font-weight: bold;
	font-size: medium;
	border-radius: 8px;
	padding: 5px 30px;
	border: 2px solid #3882f6;
}

/* second section */

.second {
	padding-bottom: 80px;
}

.second h2 {
	font-weight: bolder;
	color: #1f2937;
	font-size: 36px;
	text-align: center;
	margin-top: 33px;
}

.box {
	height: 175px;
	width: 175px;
	border: solid 5px #3882f6;
	border-radius: 10px;
}

.boxes ul {
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

figcaption {
	width: 180px;
	text-align: center;
}

/* THIRD SECTION */

.third {
	background-color: #e5e7eb;
	padding-top: 70px;
	padding-bottom: 70px;
}

.caption {
	display: flex;
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: #1f2937;
	/* width: 1000px; */
	/* height: 200px; */
	padding: 0 400px 0 400px;
	margin-bottom: 0;
	flex-wrap: wrap;
}

.quote {
	dislay: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.thor {
	margin-right: 500px;
	margin-top: 0;
	display: flex;
	font-size: 30px;
	font-weight: bolder;
	align-self: flex-end;
	justify-content: flex-end;
}

/* FOURTH SECTION */

.container {
	display: flex;
	/* flex-direction: column; */
	background-color: #3882f6;
	height: 140px;
	width: 65%;
	border-radius: 12px;
	align-items: center;
	justify-content: space-around;
	color: white;
}

.action {
	font-size: 23px;
	font-weight: bolder;
}

.second-button {
	background-color: #3882f6;
	color: white;
	font-size: large;
	font-weight: bold;
	border-radius: 8px;
	border: 2px solid white;
	padding: 4px 32px;
}

.fourth {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

/* FOOTER */

footer {
	background-color: #1f2937;
	text-align: center;
	color: white;
	padding-top: 35px;
	padding-bottom: 36px;
}
